# Основной фреймворк
fastapi==0.110.0

# Сервер для запуска
uvicorn[standard]==0.27.1

# Валидация данных
pydantic==2.6.3
pydantic-settings  # Для работы с .env файлами

# Работа с базой данных, если будет ORM-ка
sqlalchemy==2.0.27
asyncpg  # Драйвер для PostgreSQL, асинхронный

# Дополнительно
python-multipart  # Для обработки форм и загрузки файлов
