# Основной фреймворк
fastapi>=0.110.0

# Сервер для запуска
uvicorn[standard]>=0.27.1

# Валидация данных
pydantic>=2.6.3
pydantic-settings>=2.1.0

# Работа с базой данных
sqlalchemy>=2.0.27
asyncpg>=0.29.0

# Дополнительно
python-multipart>=0.0.6
python-dotenv>=1.0.0
