# База данных
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=university_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Глобальные настройки API
SECRET_KEY=your_super_secret_key_here
DEBUG=True
